@model WebAppWithAjaxModals.Models.Person

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger text-danger" })

@Html.HiddenFor(model => model.Id)

<p class="text-danger">You are about to delete the following record:</p>

<p class="well small">
    @Model.FirstName @Model.LastName
</p>

<p class="alert alert-danger">
    Are you sure you want to delete this record?
</p>