@model IEnumerable<WebAppWithAjaxModals.Models.Person>

<div class="form-group">
    <button type="button" class="btn btn-primary btnAddPerson" data-modal-content-url="@Url.Action("Create", "People")">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Person
    </button>
</div>

<table class="table table-striped" style="display: none;">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th class="noSortColumn noSearchColumn text-right"><span class="sr-only">Actions</span></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Email</td>
                <td class="text-right">
                    <div class="btn-group actionsMenu">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions menu">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <button type="button" class="btn btn-link btnEditPerson" data-modal-content-url="@Url.Action("Edit", "People", new { id = person.Id })">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                </button>
                            </li>
                            <li class="text-danger">
                                <button type="button" class="btn btn-link btnDeletePerson" data-modal-content-url="@Url.Action("Delete", "People", new { id = person.Id })">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>